<!DOCTYPE html>
<html th:fragment="layout(main)" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../../static/css-custom/app.css"
    th:href="@{/css-custom/app.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div th:replace="fragments/header.html :: headview"></div>

     <div class="container">
         <div class="d-flex justify-content-end mt-3">
             <h3><a th:href="@{/cart/view}"><i class="fas fa-cart-plus"></i> </a>&nbsp; <span class="badge badge-primary" th:text="${carts.size()}"></span></h3>
         </div>
     </div>



<div th:replace="${main}"></div>

<div th:replace="fragments/footer.html :: footerView"></div>

</body>
</html>