<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="footerView">
    <section class="bg-dark">
        <div class="container text-center text-white p-5">
            <h3>JOIN OUR BOOK STORE FOR DEALS AND UPDATES ON OFFERS</h3>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="#" class="form-inline my-3">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   placeholder="Email">
                            <div class="input-group-append">
                                <button class="btn btn-success">Join Now</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="footer" class="p-3 bg-secondary">
        <ul class="nav justify-content-center text-white d-flex flex-column flex-sm-row">
            <li class="nav-item">
                <a href="#" class="nav-link text-white">FAQ</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">EXPERIENCE</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">EXPLORE</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">CONTACT</a>
            </li>

        </ul>
    </section>
</div>
</body>
</html>