<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="headview">
    <nav class="navbar navbar-expand-md navbar-dark">
        <a href="#" class="navbar-brand">
            <h3 class="mb-0">Book Store</h3>
        </a>
        <button type="button" class="navbar-toggler"
                data-toggle="collapse" data-target="#myNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Explore</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </nav>


    <section id="showcase" class="d-flex justify-content-center align-items-center">
        <div id="overlay"></div>
        <div id="header" class="container text-white text-center">
            <h3 class="display-4 mb-0">MODERN BUYING BOOKS</h3>
            <h1 class="dispaly-1">BOOK STORE</h1>
            <p class="lead d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur,
                ipsum?</p>
            <a th:href="@{/user/book/all}" id="book" class="btn btn-lg btn-primary px-5">Book Now</a>
        </div>

    </section>
</div>
</body>
</html>