<!DOCTYPE html>
<html th:replace="layout/userViewLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <div class="container my-4 bg-light">
    <div th:with="items =${carts}">
      <div th:if="${!items.isEmpty()}">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="bo :${carts}">
            <td th:text="${bo.id}"></td>
            <td th:text="${bo.title}"></td>
            <td th:text="${bo.author.name}"></td>
            <td th:text="${'$'+ bo.price}"></td>
            <td><a th:href="@{'/cart/delete?id='+${bo.id}}" class="btn btn-outline-danger">Delete</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div th:unless="${!items.isEmpty()}">
        <h1 class="text-info text-center">No Content</h1>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <a href="#" class="btn btn-outline-primary mr-2">CheckOut</a>
        <a th:href="@{/user/book/all}" class="btn btn-outline-secondary mr-2">Continue Shopping</a>
        <a th:href="@{/cart/clear}" class="btn btn-outline-info mr-2">Clear Cart</a>
      </div>
    </div>
  </div>
</main>
</body>
</html>